<!DOCTYPE html>
<html>
<head>
<title>Make your URL MASSIVELY MASSIVE!</title>
<link href="//fonts.googleapis.com/css?family=ABeeZee" rel="stylesheet" type="text/css">
<link href="/static/makeyoururlmassivelymassive.css" rel="stylesheet" type="text/css">
</head>
<body>

<header>
  <h1>Make your URL <span>massively massive!</span></h1>
</header>

<div id="content">{%block content%}{% endblock %}</div>

<footer>
  <p>© <a href="http://www.scorpiaproductions.co.uk/">Scorpia Productions</a> 2010-2012, in association with <a href="http://www.josephvalentine.co.uk/">JOE Enterprises</a>.</p>
</footer>

</body>
</html>
